*.spl
*.bbl
*.sav
*.bak
*.out
*.log
*.toc
*.synctex.gz
*.aux
*.blg
*.pdf
*.ai

Thumbs.db
Stylesheets/Signature.png
*.pdf

%Chapters/02_Registration/*
%Chapters/03_GLM/*
%Chapters/04_Attention/*
%Chapters/05_Porcupine/*
*.psd